<!--recipes component displays content on right side of page. It shows 'Please select a Recipe' by default and 
after selecting recipe from recipe list, it will display recipe by using recipe-detail component.-->

<div class="row">
  <div class="col-md-5">
    <app-recipe-list
      (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> <!--assigning event(passed) data to 'selectedRecipe propert'-->
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template>
  </div>
</div>
